
/* Body Class */
body {
    background-image: url("/static/Images/covid_solo.png"))

    }

.jumbotron{
    color: darkblue;
    
}

/* Nav Bar Classes */
.navigation .navbar-brand{
    color:blue;
    padding: inherit;
    font-weight: bold;
    margin-left: 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    }

.navbar {
    background-color: lightblue;
    font-size: 20px;
    max-height: 46px;
    
}

.nav-link:hover{
    background-color: lightgray
}

.navbar-brand:hover{
    color: lightgray
}

.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color: lightgray;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: lightgray
}

a{
    color: lightgray
}

/* Box Class */
.box {
    margin-top: 60px;
    margin-bottom: 70px;
    color: black;
    background-color: white;
    padding: 30px;
    padding-top:  50px;
}

/* Images Class */
img {
    width: 100%;
    height:100%;
}

.visualizations{
    width: 50%;
    height: 50%;
    margin: auto;
}

.active, .panel:hover {
    border-style: solid;
}

.imageNav-photo.active {
  }

/* Titles Class */
h1, h2{
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
h3 {
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}




/* Media Class */
@media(max-width: 992px){
    .navbar-expand-lg{
        }
        .navbar{
            max-height: none; 
            padding: inherit;
        }
        .navbar div{
            margin: inherit; 
            background-color: white;  
        }
        .navbar-brand{
            padding: 10px
        }
        
        button{
            margin-right: 30px; 
        }
        button:focus {
        
            outline: 1px dotted;
            outline: 5px auto ;
            
            }
        }
